@mixin subtitle {
    font-size: 13px;
    font-family: mainFontMedium;
}

@mixin dateText {
    font-size: 11px;
}

@mixin msgTitle {
    font-size: 13px;
}
@mixin msgName{
    font-family: mainFontMediumItalic;
    font-size: 13px;
}
@mixin msgprev{
    font-size: 12px;
}