.user-list__header {
    position        : relative;
    width           : 100%;
    padding         : 8px 27px;
    background-color: $darkgrey;
    display         : flex;
    justify-content : space-between;
    align-items     : center;

    p {
        @include subtitle();
        padding    : 0;
        margin     : 0;
        line-height: 35px;
    }

    .icon {
        width: 20px;
    }
}


.user-list {
    height: 90%;

    &__wrapper {
        padding   : 0px;
        height    : 100%;
        margin    : 0;
        overflow-y: auto;
    }

    &__msg {
        position     : relative;
        width        : 100%;
        padding      : 14px 16px;
        cursor       : pointer;
        border-bottom: 1px solid $highlight;
        font-size    : 0;
        @include transition-duration(0.1s);
        @include transition-timing-function(ease-in-out);
        &:after {
            position : absolute;
            bottom   : 0;
            left     : 50%;
            display  : block;
            width    : 80%;
            height   : 1px;
            content  : '';
            transform: translate(-50%, 0);
        }

        &.active,
        &:hover {
            background-color: $grey;
            @include transition-duration(0.1s);
            @include transition-timing-function(ease-in-out);
            &:after {
                display: none;
            }
        }
    }

    &__item {
        display    : flex;
        align-items: stretch;

        &.notification {
            img {
                border: 3px solid $darkGreen;
            }

            .msg-title {
                font-family: mainFontMedium !important;
            }

            .user-list__item__date {

                .badge {
                    display: inline-block !important;
                }
            }
        }

        img {
            float        : left;
            width        : 40px;
            height       : 40px;
            margin-right : 12px;
            border-radius: 50%;
        }

        &__info {
            width          : 65%;
            display        : flex;
            flex-direction : column;
            justify-content: center;

            p {
                margin : 0;
                padding: 0;
            }

            .msg-title {
                @include msgTitle();
                color         : $text;
                text-transform: capitalize;
            }

            .name {
                color         : $text;
                text-transform: capitalize;
                @include msgName();
            }

            .msg-prev {
                @include msgprev();
                color        : #6c757d;
                display      : inline-block;
                overflow     : hidden !important;
                width        : 80%;
                white-space  : nowrap;
                text-overflow: ellipsis;
                color        : $text-07;
            }
        }

        &__date {
            display        : flex;
            flex-direction : column;
            justify-content: flex-start;
            align-items    : center;
            line-height    : 1.5;

            .badge {
                display         : none;
                background-color: $darkGreen;
                color           : #fff;
                padding         : 2px 10px;
                border-radius   : 14px;
                font-size       : 11px;
                font-weight     : 100;
                margin          : 0;
            }

            .date {
                @include dateText();
                color        : $text-07;
                margin-bottom: auto;
            }

        }
    }
}