
/* -------------------------------------
              color variables
--------------------------------------- */

  $BG:#5cafb5;
  $darkGreen:#608a8b;
  $Maincolor: #4aafb7;
  $lightGrey: #f1f1f2;
  $highlight: #e6e7e8;
  $darkgrey: #aaaaaa;
  $gunmetal:#546566;
  $grey: #ecf2f2;
  $text: #666666;
  $text-07 : rgba(102, 102, 102, 0.7);
  $offline: #f0564a;
  $blush:#e88282;
  $online:#608a8b;
  $hoverColor: #79c4ca;
  $pale_grey_two:#ededf8;
  $pale_grey:#f0f3f9;
  $white-grey: #f0f0f0;
  $grey_two: #e7e7e7;
  $white_two : #ededed;
  $dark_coral: #ce5b4c;
  