  /* ---------------------
        GENERAL
--------------------- */
body {
  font-family: mainFontRegular;
  line-height: 1.3;
  background-color: #fff; }

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0; }

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

[class^="col-"],
[class*=" col-"] {
  padding-right: 0;
  padding-left: 0; }

a[data-toggle="collapse"] {
  position: relative; }

  /* ---------------------
      IMPORT FILES
------------------------- */
/* -------------------------------------
              color variables
--------------------------------------- */
.chatbox {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center; }
  .chatbox__wrapper {
    display: flex;
    align-items: stretch;
    width: 85%;
    height: 91%;
    overflow: hidden;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    position: relative; }
    .chatbox__wrapper #contactList {
      width: 300px;
      z-index: 999;
      background: #fff;
      color: #fff;
      transition: all 0.3s; }
      .chatbox__wrapper #contactList.active {
        margin-left: 300px; }
      .chatbox__wrapper #contactList .contactList-header {
        padding: 20px;
        background: #fff; }
    .chatbox__wrapper #contactList ul li.active > a,
    .chatbox__wrapper a[aria-expanded="true"] {
      color: #fff; }
    .chatbox__wrapper #contactListClose, .chatbox__wrapper #contactListCollapse {
      display: none;
      padding: 3.5px 10px;
      background: transparent;
      border-color: rgba(255, 255, 255, 0.6); }

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 992px) {
  .chatbox__wrapper {
    width: 90%; }
    .chatbox__wrapper div#contactList {
      left: -300px !important;
      position: absolute;
      transition: .50s ease-in-out;
      left: 0;
      bottom: 0;
      top: 0; }
      .chatbox__wrapper div#contactList.active {
        left: 0;
        z-index: 3;
        margin-left: 360px; }
        .chatbox__wrapper div#contactList.active + .user-conversition {
          width: 100%;
          transition: .5s ease-in-out; }
          .chatbox__wrapper div#contactList.active + .user-conversition::before {
            z-index: 2;
            opacity: 0.3; }
      .chatbox__wrapper div#contactList + .user-conversition {
        width: 100%; }
        .chatbox__wrapper div#contactList + .user-conversition::before {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          height: 100%;
          width: 100%;
          opacity: 0;
          transition: .5s ease;
          background-color: #000;
          z-index: -1; }
    .chatbox__wrapper #contactListCollapse span {
      display: none; }
    .chatbox__wrapper #contactListClose {
      display: inline-block; }
    .chatbox__wrapper #contactListCollapse {
      display: inline-block; } }
.user-conversition {
  overflow: hidden;
  transition: all 0.3s;
  position: relative;
  height: 100%;
  width: 100%; }
  .user-conversition.active {
    width: 100%; }
  .user-conversition__wrapper {
    height: 100%; }
  .user-conversition__actionBar {
    width: 100%;
    padding: 0 0 0 14px;
    background-color: #5cafb5;
    display: flex;
    align-items: center; }
    .user-conversition__actionBar .title {
      font-size: 13px;
      font-family: mainFontMedium;
      padding: 0;
      margin: 0;
      color: white;
      margin-right: auto; }
    .user-conversition__actionBar .setting {
      display: flex;
      margin: 0; }
      .user-conversition__actionBar .setting li {
        padding: 14px 16px;
        -moz-transition-duration: 0.2s;
        -o-transition-duration: 0.2s;
        -webkit-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -moz-transition-timing-function: ease-in-out;
        -o-transition-timing-function: ease-in-out;
        -webkit-transition-timing-function: ease-in-out;
        transition-timing-function: ease-in-out; }
        .user-conversition__actionBar .setting li.active, .user-conversition__actionBar .setting li:hover {
          background-color: #79c4ca;
          cursor: pointer;
          -moz-transition-duration: 0.2s;
          -o-transition-duration: 0.2s;
          -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
          -moz-transition-timing-function: ease-in-out;
          -o-transition-timing-function: ease-in-out;
          -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out; }
        .user-conversition__actionBar .setting li img {
          width: 20px !important; }
    .user-conversition__actionBar .img-wrapper {
      float: left;
      width: 40px;
      height: 40px;
      margin-right: 12px; }
      .user-conversition__actionBar .img-wrapper img {
        width: 100%;
        height: 100%;
        border-radius: 50%; }
    .user-conversition__actionBar .btn-info {
      margin-right: 10px; }
  .user-conversition__chat-wrapper {
    height: 80.9%;
    width: 100%;
    padding-bottom: 100px;
    position: relative;
    overflow-y: auto;
    background-color: white; }
    @media (max-width: 992px) {
      .user-conversition__chat-wrapper {
        padding-bottom: 100px;
        height: 80%; } }
  .user-conversition__chat-box {
    display: none;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 15px 35px 15px 25px;
    border: 0px;
    border-style: solid;
    justify-content: flex-end;
    flex-direction: column; }
    .user-conversition__chat-box.active-chat {
      display: block;
      display: flex; }
      .user-conversition__chat-box.active-chat .bubble {
        transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1); }
        .user-conversition__chat-box.active-chat .bubble .text:nth-of-type(1) {
          animation-duration: 0.15s; }
        .user-conversition__chat-box.active-chat .bubble:nth-of-type(1) {
          animation-duration: 0.15s; }
        .user-conversition__chat-box.active-chat .bubble .text:nth-of-type(2) {
          animation-duration: 0.3s; }
        .user-conversition__chat-box.active-chat .bubble:nth-of-type(2) {
          animation-duration: 0.3s; }
        .user-conversition__chat-box.active-chat .bubble .text:nth-of-type(3) {
          animation-duration: 0.45s; }
        .user-conversition__chat-box.active-chat .bubble:nth-of-type(3) {
          animation-duration: 0.45s; }
        .user-conversition__chat-box.active-chat .bubble .text:nth-of-type(4) {
          animation-duration: 0.6s; }
        .user-conversition__chat-box.active-chat .bubble:nth-of-type(4) {
          animation-duration: 0.6s; }
        .user-conversition__chat-box.active-chat .bubble .text:nth-of-type(5) {
          animation-duration: 0.75s; }
        .user-conversition__chat-box.active-chat .bubble:nth-of-type(5) {
          animation-duration: 0.75s; }
        .user-conversition__chat-box.active-chat .bubble .text:nth-of-type(6) {
          animation-duration: 0.9s; }
        .user-conversition__chat-box.active-chat .bubble:nth-of-type(6) {
          animation-duration: 0.9s; }
        .user-conversition__chat-box.active-chat .bubble .text:nth-of-type(7) {
          animation-duration: 1.05s; }
        .user-conversition__chat-box.active-chat .bubble:nth-of-type(7) {
          animation-duration: 1.05s; }
        .user-conversition__chat-box.active-chat .bubble .text:nth-of-type(8) {
          animation-duration: 1.2s; }
        .user-conversition__chat-box.active-chat .bubble:nth-of-type(8) {
          animation-duration: 1.2s; }
        .user-conversition__chat-box.active-chat .bubble .text:nth-of-type(9) {
          animation-duration: 1.35s; }
        .user-conversition__chat-box.active-chat .bubble:nth-of-type(9) {
          animation-duration: 1.35s; }
        .user-conversition__chat-box.active-chat .bubble .text:nth-of-type(10) {
          animation-duration: 1.5s; }
        .user-conversition__chat-box.active-chat .bubble:nth-of-type(10) {
          animation-duration: 1.5s; }
    .user-conversition__chat-box .bubble {
      margin-bottom: 10px; }
      .user-conversition__chat-box .bubble .text {
        position: relative;
        display: inline-block;
        clear: both;
        padding: 16px 20px;
        vertical-align: top;
        max-width: 64%;
        word-wrap: break-word;
        border-radius: 15px;
        word-break: break-word; }
        @media (max-width: 991px) {
          .user-conversition__chat-box .bubble .text {
            max-width: 80%; } }
        @media (max-width: 520px) {
          .user-conversition__chat-box .bubble .text {
            max-width: 90%;
            margin-bottom: 15px; } }
        .user-conversition__chat-box .bubble .text:before {
          position: absolute;
          top: 2px;
          display: block;
          width: 20px;
          height: 11px;
          content: '\00a0';
          transform: rotate(80deg) skew(-41deg);
          border-radius: 0px 0px 0px 5px; }
      .user-conversition__chat-box .bubble .time {
        font-family: mainFontRegular;
        font-size: 12px;
        color: #bdbfc0;
        position: relative;
        max-width: 70%;
        /* top         : 10px; */
        display: flex;
        justify-content: space-between;
        align-items: center; }
        @media (max-width: 991px) {
          .user-conversition__chat-box .bubble .time {
            max-width: 86%; } }
        .user-conversition__chat-box .bubble .time .msg-details_user {
          display: flex;
          align-items: center;
          color: #546566 !important; }
          .user-conversition__chat-box .bubble .time .msg-details_user img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-left: 10px; }
          .user-conversition__chat-box .bubble .time .msg-details_user .content {
            text-align: right; }
          .user-conversition__chat-box .bubble .time .msg-details_user .date {
            color: #546566 !important; }
        .user-conversition__chat-box .bubble .time .user {
          font-family: mainFontMedium;
          color: #546566 !important; }
      .user-conversition__chat-box .bubble.you .text {
        display: block;
        margin-right: auto;
        color: #666666;
        background-color: #f0f3f9;
        align-self: flex-start;
        animation-name: slideFromLeft;
        position: relative;
        margin-left: 6%; }
        .user-conversition__chat-box .bubble.you .text:before {
          left: -8px;
          background-color: #f0f3f9;
          top: 85%;
          transform: rotate(140deg) skew(53deg);
          z-index: 1;
          position: absolute;
          background-color: #f0f3f9;
          border-radius: 10px; }
      .user-conversition__chat-box .bubble.you .time {
        margin-right: auto;
        direction: rtl; }
        .user-conversition__chat-box .bubble.you .time .msg-details_user img {
          margin: 0;
          margin-right: 10px; }
      .user-conversition__chat-box .bubble.you.info-message .text {
        max-width: 83%;
        background-color: #ededed; }
        .user-conversition__chat-box .bubble.you.info-message .text:before {
          background-color: #ededed;
          transform: rotate(164deg) skew(-50deg);
          left: 0px; }
      .user-conversition__chat-box .bubble.you.info-message .time {
        max-width: 89.5%; }
      .user-conversition__chat-box .bubble.me .text {
        display: block;
        margin-left: auto;
        background-color: #ededf8;
        align-self: flex-end;
        animation-name: slideFromRight;
        margin-right: 6%; }
        .user-conversition__chat-box .bubble.me .text:before {
          width: 13px;
          top: 9px;
          transform: rotate(190deg) skew(50deg);
          background-color: #ededf8;
          width: 13px;
          right: -4px;
          top: 92%;
          border-radius: 4px; }
      .user-conversition__chat-box .bubble.me.info-message .text {
        background-color: #e7e7e7;
        max-width: 83%; }
        .user-conversition__chat-box .bubble.me.info-message .text:before {
          background-color: #e7e7e7; }
      .user-conversition__chat-box .bubble.me.info-message .time {
        max-width: 89.5%; }
      .user-conversition__chat-box .bubble.me .time {
        margin-left: auto; }
      .user-conversition__chat-box .bubble p {
        margin: 0;
        font-family: mainFontRegular;
        font-size: 12px;
        line-height: 1;
        color: #546566;
        line-height: 18.5px; }
      .user-conversition__chat-box .bubble .msg-details_title {
        margin-bottom: 10px;
        font-size: 13px;
        font-family: mainFontMedium;
        color: #546566; }
      .user-conversition__chat-box .bubble .msg-details__date {
        display: flex;
        align-items: flex-start;
        margin-bottom: 6px; }
        .user-conversition__chat-box .bubble .msg-details__date img {
          width: 14px;
          margin-right: 10px; }
        .user-conversition__chat-box .bubble .msg-details__date .email {
          font-family: mainFontRegular;
          font-size: 10px; }
      .user-conversition__chat-box .bubble .msg-details_content {
        display: flex;
        align-items: center;
        margin-bottom: 15px; }
        .user-conversition__chat-box .bubble .msg-details_content img {
          width: 13px;
          margin-right: 11px; }
      .user-conversition__chat-box .bubble .msg-details_action {
        display: flex;
        justify-content: space-between; }
        @media (max-width: 580px) {
          .user-conversition__chat-box .bubble .msg-details_action {
            flex-direction: column;
            justify-content: flex-end; } }
        .user-conversition__chat-box .bubble .msg-details_action .textInfo {
          font-size: 12.5px;
          font-family: mainFontMedium;
          color: #546566;
          cursor: pointer; }
        .user-conversition__chat-box .bubble .msg-details_action img {
          width: 14px;
          margin-right: 10px; }
        .user-conversition__chat-box .bubble .msg-details_action .icon {
          margin-right: 10px; }
        .user-conversition__chat-box .bubble .msg-details_action .btn-light {
          border-radius: 10px;
          color: #e88282;
          font-family: mainFontRegular;
          font-size: 16px;
          cursor: pointer; }
          @media (max-width: 580px) {
            .user-conversition__chat-box .bubble .msg-details_action .btn-light {
              margin-bottom: 15px; } }
          .user-conversition__chat-box .bubble .msg-details_action .btn-light img {
            width: 14px;
            margin-left: 10px; }
        .user-conversition__chat-box .bubble .msg-details_action .content {
          text-align: right;
          font-family: mainFontRegular;
          font-size: 12px;
          color: #546566; }
        .user-conversition__chat-box .bubble .msg-details_action .msg-details_user {
          display: flex; }
          .user-conversition__chat-box .bubble .msg-details_action .msg-details_user img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-left: 10px; }
          .user-conversition__chat-box .bubble .msg-details_action .msg-details_user p,
          .user-conversition__chat-box .bubble .msg-details_action .msg-details_user span {
            font-family: mainFontRegular;
            font-size: 11px;
            font-style: italic; }
  .user-conversition .messageInput {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f0f0f0;
    position: absolute;
    bottom: 0;
    width: 100%; }
    .user-conversition .messageInput .form-control {
      border: 0px solid #ced4da;
      border-radius: 10px; }
    .user-conversition .messageInput__image-wrapper {
      width: 35px;
      position: relative;
      cursor: pointer; }
      .user-conversition .messageInput__image-wrapper img {
        position: relative;
        z-index: 2;
        border-radius: 50%;
        background-color: white;
        padding: 11px; }
      .user-conversition .messageInput__image-wrapper .input-file {
        opacity: 0;
        position: absolute;
        z-index: 6;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        right: 0; }
    .user-conversition .messageInput .form-group {
      width: calc(100% - 90px);
      margin: 0; }
  .user-conversition .btn-wrapper {
    width: 30px;
    cursor: pointer; }
  .user-conversition .plan-alert {
    font-size: 13px;
    font-family: mainFontMedium;
    color: #546566; }
    .user-conversition .plan-alert .time {
      font-family: mainFontRegular;
      font-size: 12px;
      color: #bdbfc0;
      position: relative;
      margin-left: 15px; }

/* -------------------------------------
animation right side of window chat
--------------------------------------- */
@keyframes slideFromLeft {
  0% {
    margin-left: -200px;
    opacity: 0; }
  100% {
    margin-left: 0;
    opacity: 1; } }
@-webkit-keyframes slideFromLeft {
  0% {
    margin-left: -200px;
    opacity: 0; }
  100% {
    margin-left: 0;
    opacity: 1; } }
@keyframes slideFromRight {
  0% {
    margin-right: -200px;
    opacity: 0; }
  100% {
    margin-right: 0;
    opacity: 1; } }
@-webkit-keyframes slideFromRight {
  0% {
    margin-right: -200px;
    opacity: 0; }
  100% {
    margin-right: 0;
    opacity: 1; } }
.user-list__header {
  position: relative;
  width: 100%;
  padding: 8px 27px;
  background-color: #aaaaaa;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .user-list__header p {
    font-size: 13px;
    font-family: mainFontMedium;
    padding: 0;
    margin: 0;
    line-height: 35px; }
  .user-list__header .icon {
    width: 20px; }

.user-list {
  height: 90%; }
  .user-list__wrapper {
    padding: 0px;
    height: 100%;
    margin: 0;
    overflow-y: auto; }
  .user-list__msg {
    position: relative;
    width: 100%;
    padding: 14px 16px;
    cursor: pointer;
    border-bottom: 1px solid #e6e7e8;
    font-size: 0;
    -moz-transition-duration: 0.1s;
    -o-transition-duration: 0.1s;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out; }
    .user-list__msg:after {
      position: absolute;
      bottom: 0;
      left: 50%;
      display: block;
      width: 80%;
      height: 1px;
      content: '';
      transform: translate(-50%, 0); }
    .user-list__msg.active, .user-list__msg:hover {
      background-color: #ecf2f2;
      -moz-transition-duration: 0.1s;
      -o-transition-duration: 0.1s;
      -webkit-transition-duration: 0.1s;
      transition-duration: 0.1s;
      -moz-transition-timing-function: ease-in-out;
      -o-transition-timing-function: ease-in-out;
      -webkit-transition-timing-function: ease-in-out;
      transition-timing-function: ease-in-out; }
      .user-list__msg.active:after, .user-list__msg:hover:after {
        display: none; }
  .user-list__item {
    display: flex;
    align-items: stretch; }
    .user-list__item.notification img {
      border: 3px solid #608a8b; }
    .user-list__item.notification .msg-title {
      font-family: mainFontMedium !important; }
    .user-list__item.notification .user-list__item__date .badge {
      display: inline-block !important; }
    .user-list__item img {
      float: left;
      width: 40px;
      height: 40px;
      margin-right: 12px;
      border-radius: 50%; }
    .user-list__item__info {
      width: 65%;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .user-list__item__info p {
        margin: 0;
        padding: 0; }
      .user-list__item__info .msg-title {
        font-family: mainFontRegular;
        font-size: 13px;
        color: #666666;
        text-transform: capitalize; }
      .user-list__item__info .name {
        color: #666666;
        text-transform: capitalize;
        font-family: mainFontMediumItalic;
        font-size: 13px; }
      .user-list__item__info .msg-prev {
        font-family: mainFontRegular;
        font-size: 12px;
        color: #6c757d;
        display: inline-block;
        overflow: hidden !important;
        width: 80%;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: rgba(102, 102, 102, 0.7); }
    .user-list__item__date {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      line-height: 1.5; }
      .user-list__item__date .badge {
        display: none;
        background-color: #608a8b;
        color: #fff;
        padding: 2px 10px;
        border-radius: 14px;
        font-size: 11px;
        font-weight: 100;
        margin: 0; }
      .user-list__item__date .date {
        font-family: mainFontRegular;
        font-size: 11px;
        color: rgba(102, 102, 102, 0.7);
        margin-bottom: auto; }

.action-box {
  background-color: #5cafb5;
  z-index: 9999; }
  .action-box__wrapper {
    display: flex;
    flex-direction: column;
    height: 100%; }
    .action-box__wrapper li {
      padding: 16px;
      width: 60px;
      -moz-transition-duration: 0.2s;
      -o-transition-duration: 0.2s;
      -webkit-transition-duration: 0.2s;
      transition-duration: 0.2s;
      -moz-transition-timing-function: ease-in-out;
      -o-transition-timing-function: ease-in-out;
      -webkit-transition-timing-function: ease-in-out;
      transition-timing-function: ease-in-out; }
      .action-box__wrapper li.active, .action-box__wrapper li:hover {
        background-color: #79c4ca;
        cursor: pointer;
        -moz-transition-duration: 0.2s;
        -o-transition-duration: 0.2s;
        -webkit-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -moz-transition-timing-function: ease-in-out;
        -o-transition-timing-function: ease-in-out;
        -webkit-transition-timing-function: ease-in-out;
        transition-timing-function: ease-in-out; }
      .action-box__wrapper li:first-child {
        padding: 14px; }
        .action-box__wrapper li:first-child img {
          filter: drop-shadow(0 0 0.75rem #fff); }
      .action-box__wrapper li:nth-child(3) {
        padding: 18px; }
      .action-box__wrapper li:last-child {
        margin-top: auto; }

  /* ------------------
        FONTS
--------------------- */
@font-face {
  font-family: mainFontRegular;
  src: url("../fonts/Gotham-Book.ttf"), url("../fonts/Gotham-Book.eot") format("embedded-opentype"), url("../fonts/Gotham-Book.woff2") format("woff2"), url("../fonts/Gotham-Book.woff") format("woff"), url("../fonts/Gotham-Book.ttf") format("truetype"), url("../fonts/Gotham-Book.svg") format("svg"); }
@font-face {
  font-family: mainFontMedium;
  src: url("../fonts/Gotham-Medium.TTF"), url("../fonts/Gotham-Medium.eot") format("embedded-opentype"), url("../fonts/Gotham-Medium.woff2") format("woff2"), url("../fonts/Gotham-Medium.woff") format("woff"), url("../fonts/Gotham-Medium.ttf") format("truetype"), url("../fonts/Gotham-Medium.svg") format("svg"); }
@font-face {
  font-family: mainFontMediumItalic;
  src: url("../fonts/GothamXNarrow-MediumItalic.TTF"), url("../fonts/GothamXNarrow-MediumItalic.eot") format("embedded-opentype"), url("../fonts/GothamXNarrow-MediumItalic.woff2") format("woff2"), url("../fonts/GothamXNarrow-MediumItalic.woff") format("woff"), url("../fonts/GothamXNarrow-MediumItalic.ttf") format("truetype"), url("../fonts/GothamXNarrow-MediumItalic.svg") format("svg"); }
.red {
  color: #ce5b4c !important; }

div#ascrail2000 {
  height: 82.9% !important; }

/*# sourceMappingURL=style.css.map */
